section.new-tweet {
  width: 100%;
  position: relative;
}

div.error {
  color: red;
  border: 1px solid red;
  padding: .5em;
  width: fit-content;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  resize: none;
  height: 1.5em;
}

#tweet-text:focus {
  outline: none;
}