section.tweet-feed {
  margin-top: 64px;
  width: 100%;
}

article.tweet-post {
  background-color: #f4f1ec;
  color: #545149;
  padding: .5em;
  border: 3px solid #545149;
}

article.tweet-post:hover {
  box-shadow: 0.5rem 0.5rem rgba(159, 159, 245, 0.322);
}

/* ------ */
/* HEADER */
/* ------ */
article.tweet-post header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: .5em;
}

header div.tweet-user {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

header p#username {
  padding-right: .5em;
  opacity: 0.3;
}

/* ICON */
.fa-smile-beam {
  color: #545149;
  padding-right: 12px;
}

/* ---- */
/* BODY */
/* ---- */
p#tweet-content {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 3px solid #545149;
  height: 1.5em;
  padding-left: .5em;
  padding-bottom: 2.5em;
  margin-bottom: .5px;
}

/* ------ */
/* FOOTER */
/* ------ */
article.tweet-post footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: .5em;
  font-size: 60%;
  height: 32px;
  margin: 2px;
}

/* ICONS */
footer div.icons {
  display: flex;
  justify-content: space-evenly;
}

.fa-flag {
  color: #4056A1;
  padding: 5px;
}

.fa-retweet {
  color: #4056A1;
  padding: 5px;
}

.fa-heart {
  color: #4056A1;
  padding: 5px;
}

.fa-flag:hover {
  color: rgb(146, 146, 67)
}

.fa-retweet:hover {
  color: rgb(146, 146, 67)
}

.fa-heart:hover {
  color: rgb(146, 146, 67)
}